@font-face {
    font-family: "Valisca";
    src: url("/fonts/Valisca/Valisca.ttf") format("truetype");
  }
  @font-face {
    font-family: "Theater Atlas Deco";
    src: url("/fonts/Theater-Atlas-Deco/Theater-Atlas-Deco.ttf") format("truetype");
  }
  @font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans/OpenSans-Italic-VariableFont_wdth\,wght.ttf") format("truetype");
    src: url("/fonts/OpenSans/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype");
  }
  @font-face {
    font-family: "Sport Express Inline";
    src: url("/fonts/Sport-Express-Inline/Sport-Express-Inline.ttf") format("truetype");
  }
  @font-face {
    font-family: "Broadway Neon";
    src: url("/fonts/Broadway-Neon/Broadway-Neon.ttf") format("truetype");
  }
  @font-face {
    font-family: "Diplomatia Two";
    src: url("/fonts/Diplomatia-Two/Diplomatia-Two.ttf") format("truetype");
  }
  @font-face {
    font-family: "Nord Star Deco";
    src: url("/fonts/Nord-Star-Deco/Nord-Star-Deco.ttf") format("truetype");
  } 
  @font-face {
    font-family: "MADE Soulmaze";
    src: url("/fonts/Made-soulmaze/MADE\ Soulmaze\ Brush\ PERSONAL\ USE.otf") format("opentype");
  } 
  @font-face {
    font-family: "Champagne And Limousines";
    src: url("/fonts/Champagne/ChampagneAndLimousines-7KRB.ttf") format("truetype");
  } 
  @font-face {
    font-family: "Sensal Regular";
    src: url("/fonts/SensalRegular/SensalRegular.ttf") format("truetype");
  } 