body, footer {
  background: #333333;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
h1, h2 {
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
hr {
  margin-bottom: 20px;
}
label, input, textarea, button {
  margin: 5px 0;
 ;
}
nav{
  font-family:'';
}
.about{
  display: flex;
  justify-content: center;
  width: auto;
  overflow: hidden;
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
}
.background-container {
  position: relative;
  bottom: -180px;
  float: left;
  left: 10%;
  width: 150px;
  height: 50px;
}
.box{
  background-color: rgba(51, 51, 51, 1);
  font-size: 18px;
  text-align: justify;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 480px;
  height: 480px;
}
.contacts p {
  font-size: large;
  text-align: center;
}
.contacts p {
  margin: 5px 0;
  position: relative;
}
.contacts {
  color:rgba(255, 255, 255, 1);
  position:relative;
  left:0px;
  top:0px;
  right:0px;
  bottom: 0px;
  font-family:Open Sans Condensed;
  text-align:left;
  font-size:16px;
  letter-spacing:7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacts p{
  font-family: 'Champagne And Limousines';
}
.contacts, .feedback-form {
  width: 50%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divo_texto {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.feedback-form button {
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s ease-in-out;
  padding: 10px;
}
.feedback-form button:hover {
  background-color: goldenrod;
  color: #000;
}
.feedback-form input {
  width: 240px;
  height: 30px;
  margin-bottom: 10px;
  padding: 5px;
}
.feedback-form label {
  display: block;
  margin-bottom: 5px;
}
.feedback-form textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 5px;
}
.feedback-form {
  background-color: rgba(51,51,51,1);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 15px;
}

.input {
  color: aliceblue;
  width: 10px;
  height: 20px;
  background: transparent;
}
.le_small_texto1{
  display: flex;
  position: absolute;
  top: 180px;
  left: 1000px;
  align-self: flex-end;
}
.le_small_texto2{
  display: flex;
  align-self: flex-start;
  position: absolute;
  top: 220px;
  left: 1000px;
}
.line {
  width: 20px;
  margin-top: 37px ;
  margin-bottom: 37px ;
}
.line2 {
  display: flex;
  border-left: 3px solid rgb(255, 255, 255);
  height: 350px;
  width: 2px;
  margin-top: 40px;
  position: absolute;
  left: 70%;
}
.line3 {
  display: flex;
  border-left: 3px solid rgb(255, 255, 255);
  height: 350px;
  width: 2px;
  margin-top: 40px;
  position: absolute;
  left: 30%;

}

.line4{
  display: flex;
  border-left: 3px solid rgb(255, 255, 255);
  height: 3px;
  left: 0;
  right: 0;
  margin: auto;
  width: 700px;
  position: absolute;
  background-color: aliceblue ;
}
.logo img {
  max-width: 100%;
}
.logo {
  display: flex;
  align-items: center;
}
.logo {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.made_by {
  width: auto;
  color: rgba(151, 151, 151, 1);
  top: auto;
  left: auto;
  position: relative;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
/*----------------------------------------------------------------*/
.me {
  color: rgba(151, 151, 151, 1);
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: right;
  margin-left: auto;
  margin-right: 0;
  justify-self: flex-end;
}
.menu ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  border: 1px solid #fff;
  transition: all 0.3s ease-in-out;
}
.menu ul li a:hover {
  background-color: #fff;
  color: #000;
}
.menu ul li {
  margin-right: 10px;
}
.menu ul li {
  margin-right: 20px;
}
.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
  right: 5%;
  z-index: 1;
  background-color: rgba(51, 51, 51, 0.0);
  margin: 0;
  padding: 0;
}
.menu-button {
  position: relative;
  transform: translateX(-50%);
  width: 150px;
  height: 45px;
  background-color: #484848;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.menu-button:hover {
  background-color: #fff;
  color: rgba(51, 51, 51, 1);
}
.notification button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.notification p {
  padding: 0;
  margin: 0;
  font-size: 18px;
}
.notification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
  border: 1px solid rgba(51, 51, 51, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
  max-width: 500px;
  width: 80%;
  padding: 20px;
}
.notification-window .close-button {
  display: block;
  margin-top: 10px;
}
.notification-window p {
  margin: 0;
}
.notification-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 20px;
}
.phone {
  display: flex;
  align-items: center;
}
.phone {
  display: flex;
  justify-content: flex-end;
  width: auto;
  color: rgb(255, 255, 255);
  top: auto;
  left: auto;
  position: relative;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: right;
  padding-top: 10px;
}
.phone_icon {
  position: relative;
  width: 1%;
  height: 1%;
  vertical-align: middle;
}
.phone_number {
  margin-left: 10px;
}
.phone_number {
  position: relative;
  margin-top: 5px;
}

.privacy_note1 {
  font-size: 8pt;
  
  letter-spacing: normal;
  color: rgba(151,151,151,1);
  font-family: 'Open Sans';
}
.review {
  color: aliceblue;
  width: 1000px;
  height: 20px;
  background: transparent;
  resize: none;
  overflow: auto;
  resize: none;
}
.rights {
  width: auto;
  color: rgba(151, 151, 151, 1);
  top: auto;
  left: auto;
  position: relative;
  font-family: 'Open Sans';
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
.section h1{
  font-family: 'Nord Star Deco';
  font-size: 30px;
  padding-bottom: 10px;
}
.section h2{
  font-family: 'Nord Star Deco';
  font-size: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size:smaller ;
}
.section {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 40px;
}
.texto {
  color: aliceblue;
  display: inline-block;
  font-family: 'Champagne And Limousines';
  font-weight: 300;
  font-size: 130%;
  
}
.wrapper1 {
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-image: url(/images/other/theater.png);
}

.sense-of_existing{
  position: absolute;
  display: flex;
  padding-top: 25px;
  left: 75px;
  flex-direction: column;
  overflow: hidden;
  width: 400px;
}

.sense-of_existing h1{
  font-family: 'Champagne And Limousines';
}
.sense-of_existing p{
  color: #fff;
  text-align: justify;
  font-family: 'Champagne And Limousines';

}

.info{
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0%;  
  padding-top: 25px;
  right: 75px;
  overflow: hidden;
  font-family: 'Champagne And Limousines';
  width: 400px;
}

.info p{
  color: #fff;
  text-align: justify;
  font-family: 'Champagne And Limousines';

}

.info h1{
  font-family: 'Champagne And Limousines';
}

.container{
  position: relative;
  text-align: center;
}
section{
  height: 510px;
}
.partners1{
  display: flex;
  flex-direction: row;
  left: 0;
  right: 0;
}
.partners1 img{
  width: 244px;
  height: 85px;
  margin-left: 15px;
  margin-right: 15px;
}
.partners2{
  display: flex;
  flex-direction: row;
  justify-content: center;
}