body, footer {
  background: #333333;
  margin: 0;
  padding: 0;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  align-self: center;
}

.section h1{
  font-family: 'Nord Star Deco';
  font-size: 30px;
}


h1, h2 {
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
}

.logo {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}

.phone_icon {
  position: relative;
  width: 1%;
  height: 1%;
  vertical-align: middle;
}

.phone {
  display: flex;
  justify-content: flex-end;
  width: auto;
  color: rgb(255, 255, 255);
  top: auto;
  left: auto;
  position: relative;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: right;
  padding-top: 10px;
}

.phone_number {
  position: relative;
  margin-top: 5px;
}

/* Styles for the top menu */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
  right: 5%;
  z-index: 1;
  background-color: rgba(51, 51, 51, 0.0);
  margin: 0;
  padding: 0;
}

.menu ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu ul li {
  margin-right: 10px;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  border: 1px solid #fff;
  transition: all 0.3s ease-in-out;
}

.menu ul li a:hover {
  background-color: #fff;
  color: #000;
}

.background-container {
  position: relative;
  bottom: -180px;
  float: left;
  left: 10%;
  width: 150px;
  height: 50px;
}
.menu-button {
  position: relative;
  transform: translateX(-50%);
  width: 150px;
  height: 50px;
  background-color: #484848;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu-button:hover {
  background-color: #fff;
  color: rgba(51, 51, 51, 1); 
}

.wrapper1 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-image: url(/course-work/images/other/theater.png);
}


.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 15px;
}

.box{
  background-color: rgba(51, 51, 51, 1);
  font-size: 18px;
  text-align: justify;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about{
  top: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: auto;
  overflow: hidden;
}

.feedback-form {
  background-color: rgba(51,51,51,1);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label, input, textarea, button {
  margin: 5px 0;;
}

.contacts {
  color:rgba(255, 255, 255, 1);
  position:relative;
  left:0px;
  top:0px;
  right:0px;
  bottom: 0px;
  font-family:Open Sans Condensed;
  text-align:left;
  font-size:16px;
  letter-spacing:7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts p {
  margin: 5px 0;
  position: relative;
}

.privacy-note {
  font-size: small;
  color: rgba(151,151,151,1);

}

.feedback-form label {
  display: block;
  margin-bottom: 5px;

}

.feedback-form input {
  width: 90%;
  margin-bottom: 10px;
  padding: 5px;
}

.feedback-form textarea {
  width: 90%;
  height: 100px;
  margin-bottom: 10px;
  padding: 5px;
}

.feedback-form button {
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s ease-in-out;
  padding: 10px;

}

.feedback-form button:hover {
  background-color: goldenrod;
  color: #000;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts,
.feedback-form {
  width: 50%;
}

/*----------------------------------------------------------------*/

.me {
  color: rgba(151, 151, 151, 1);
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: right;
  margin-left: auto;
  margin-right: 0;
  justify-self: flex-end;
}

.footer_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rights {
  width: auto;
  color: rgba(151, 151, 151, 1);
  top: auto;
  left: auto;
  position: relative;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}

.made_by {
  width: auto;
  color: rgba(151, 151, 151, 1);
  top: auto;
  left: auto;
  position: relative;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}

.line {
  width: 20px;
}

.line2 {
  display: flex;
  border-left: 6px solid rgb(255, 255, 255);
  height: 100px;
  position: absolute;
  left: 70%;
}

.line3 {
  display: flex;
  border-left: 6px solid rgb(255, 255, 255);
  height: 100px;
  position: absolute;
  left: 30%;
  margin-left: -3px;
  top: 2050px;
}

.contacts   p {
  font-size: large;
  text-align: center;
}

hr {
  margin-bottom: 20px;
}

.notification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
  border: 1px solid rgba(51, 51, 51, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
  max-width: 500px;
  width: 80%;
  padding: 20px;
}

.notification p {
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.notification button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.input {
  color: aliceblue;
  width: 10px;
  height: 20px;
  background: transparent;
}

.review {
  color: aliceblue;
  width: 1000px;
  height: 20px;
  background: transparent;
  resize: none;
  overflow: auto;
  resize: none;
}

.divo_texto {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.texto {
  color: aliceblue;
  
  display: inline-block;
}
.le_small_texto1{
  display: flex;
  position: absolute;
  top: 180px;
  left: 1000px;
  align-self: flex-end;

}
.le_small_texto2{
  display: flex;
  align-self: flex-start;
  position: absolute;
  top: 220px;
  left: 1000px;
}

.notification-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 20px;
}

.notification-window p {
  margin: 0;
}

.notification-window .close-button {
  display: block;
  margin-top: 10px;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone {
  display: flex;
  align-items: center;
}

.phone_number {
  margin-left: 10px;
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  margin-right: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 100%;
}
