.social-media {
    height: 600px;
    position: relative;
    display: flex;
    float: right;
    width: 100px;

  }
  
  .dropdown {
    position: absolute;
    right: 0;
    
  }
  
  .dropbtn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: opacity 1s ease-in-out;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    bottom: 100%;
    right: 10;
    min-width: 120px;
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown-content a {
    display: block;
    margin: 3px;
    padding: 3px 3px;
    border-radius: 10px;
    opacity: 0.1;
    text-decoration: none;
    transition: opacity 1s ease-in-out;
  }
  
  .dropdown-content a:hover {
    opacity: 70%;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  