.social-media {
    height: 600px;
    position: relative;
    display: flex;
    float: right;
    right: 80px;
    width: 60px;

  }
  
  .dropdown {
    bottom:20px;
    position: absolute;
  }
  
  .dropbtn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: opacity 1s ease-in-out;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    bottom: 100%;
    min-width: 120px;
    padding: 12px 16px;
    z-index: 1;
    right: -42px;
  }
  
  .dropdown-content a {
    right: 40px;
    display: block;
    margin: 3px;
    padding: 3px 3px;
    border-radius: 10px;
    opacity: 0.1;
    text-decoration: none;
    transition: opacity 1s ease-in-out;
  }
  
  .dropdown-content a:hover {
    opacity: 70%;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    filter: invert(1);
  }

.media{
  height: 50px;
  width: 50px;
  background-size: cover;
  right: 40px;
}

  