@media screen and (max-width: 768px){
    .logo img{
        position: relative;
        width: 50%;
        height: 50%;

  }
  .background-container {
    bottom: -230px;
    left: 15%;
    width: 125px;
    height: 35px;
  }
  .menu-button {
    width: 125px;
    height: 35px;
  }

  .le_small_texto1{

    top: 180px;
    left: 135px;
    font-size: small;
  }
  .le_small_texto2{
    top: 210px;
    left: 135px;
    font-size: small;
  }

  .phone_icon {
    width: 2%;
    height: 2%;
  }

  .sense-of_existing{
    position: absolute;
    display: flex;
    padding-top: 25px;
    left: 25px;
    flex-direction: column;
    overflow: hidden;
    width: 210px;
  
  }
  
  .sense-of_existing h1{
    font-family: 'Champagne And Limousines';
    color: #fff;
    font-size: 20px;
  }
  .sense-of_existing p{
    font-size: 12px;
    color: #fff;
    text-align: justify;
    font-family: 'Champagne And Limousines';
  
  }
  
  .info{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    right: 25px;
    overflow: hidden;
    font-family: 'Champagne And Limousines';
    width: 210px;
  }
  
  .info p{
    font-family: 'Champagne And Limousines';
    color: #fff;
    font-size: 12px;
    text-align: justify;
  }
  
  .info h1{
    font-family: 'Champagne And Limousines';
    color: #fff;
    font-size: 20px;  
  }

  .line2 {
    display: flex;
    border-left: 3px solid rgb(255, 255, 255);
    height: 250px;
    width: 2px;
    margin-top: 45px;
    position: absolute;
    left: 67.5%;
  }
  .line3 {
    display: flex;
    border-left: 3px solid rgb(255, 255, 255);
    height: 250px;
    width: 2px;
    margin-top: 45px;
    position: absolute;
    left: 32.5%;
  
  }
  
  .line4{
    display: flex;
    border-left: 3px solid rgb(255, 255, 255);
    height: 3px;
    left: 0;
    right: 0;
    margin: auto;
    width: 500px;
    position: absolute;
    background-color: aliceblue ;
  }
  .partners1{
    display: flex;
    flex-direction: row;
    left: 0;
    right: 0;
  }
  .partners1 img{
    width: 200px;
    height: 80px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .partners2{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .box{ 
    width: 240px;
    height: 320px;
  }
}


@media screen and (max-width: 425px){
  body{
  }
    .logo img{
        position: relative;
        width: 25%;
        height: 25%;

  }
  .background-container {
    bottom: -230px;
    left: 15%;
    width: 125px;
    height: 35px;
  }
  .menu-button {
    width: 110px;
    height: 30px;
    font-size: medium
  }

  .le_small_texto1{

    top: 170px;
    left: 90px;
    font-size: small;
  }
  .le_small_texto2{
    top: 210px;
    left: 90px;
    font-size: small;
  }

  .phone_icon {
    width: 2%;
    height: 2%;
  }

  .sense-of_existing{
    position: absolute;
    display: flex;
    padding-top: 25px;
    left: 25px;
    flex-direction: column;
    overflow: hidden;
    width: 210px;
  
  }
  
  .sense-of_existing h1{
    font-family: 'Champagne And Limousines';
    color: #fff;
    font-size: 20px;
  }
  .sense-of_existing p{
    font-size: 12px;
    color: #fff;
    text-align: justify;
    font-family: 'Champagne And Limousines';
  
  }
  
  .info{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    right: 25px;
    overflow: hidden;
    font-family: 'Champagne And Limousines';
    width: 210px;
  }
  
  .info p{
    font-family: 'Champagne And Limousines';
    color: #fff;
    font-size: 12px;
    text-align: justify;
  }
  
  .info h1{
    font-family: 'Champagne And Limousines';
    color: #fff;
    font-size: 20px;  
  }

  .line2 {
    display: flex;
    border-left: 3px solid rgb(255, 255, 255);
    height: 250px;
    width: 2px;
    margin-top: 45px;
    position: absolute;
    left: 67.5%;
  }
  .line3 {
    display: flex;
    border-left: 3px solid rgb(255, 255, 255);
    height: 250px;
    width: 2px;
    margin-top: 45px;
    position: absolute;
    left: 32.5%;
  
  }
  
  .line4{
    display: flex;
    border-left: 3px solid rgb(255, 255, 255);
    height: 3px;
    left: 0;
    right: 0;
    margin: auto;
    width: 500px;
    position: absolute;
    background-color: aliceblue ;
  }
  .partners1{
    display: flex;
    flex-direction: row;
    left: 0;
    right: 0;
  }
  .partners1 img{
    width: 200px;
    height: 80px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .partners2{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .box{ 
    width: 240px;
    height: 320px;
  }
}

/* ------------------------------------------------------- */
@media screen and (max-width: 425px){
  .logo img{
    position: relative;
    width: 30%;
    height: 30%;

}
.background-container {
bottom: -280px;
left: 15%;
width: 125px;
height: 35px;
display: none;
}
.menu-button {
width: 125px;
height: 35px;
}

.le_small_texto1{
top: 200px;
left: 15px;
font-size: small;
}
.le_small_texto2{
top: 240px;
left: 15px;
font-size: small;
}

.phone_icon {
width: 2%;
height: 2%;
}

.sense-of_existing{
position: absolute;
display: flex;
padding-top: 25px;
left: 5px;
flex-direction: column;
overflow: hidden;
width: 125px;

}

.sense-of_existing h1{
font-family: 'Champagne And Limousines';
color: #fff;
font-size: 12px;
}
.sense-of_existing p{
font-size: 7px;
color: #fff;
text-align: justify;
font-family: 'Champagne And Limousines';

}

.info{
position: absolute;
display: flex;
flex-direction: column;
padding-top: 25px;
right: 5px;
overflow: hidden;
font-family: 'Champagne And Limousines';
width: 125px;
}

.info p{
font-family: 'Champagne And Limousines';
color: #fff;
font-size: 7px;
text-align: justify;
}

.info h1{
font-family: 'Champagne And Limousines';
color: #fff;
font-size: 12px;  
}

.line2 {
display: flex;
border-left: 2px solid rgb(255, 255, 255);
height:125px;
width: 2px;
margin-top: 45px;
position: absolute;
left: 67.5%;
}
.line3 {
display: flex;
border-left: 2px solid rgb(255, 255, 255);
height:125px;
width: 2px;
margin-top: 45px;
position: absolute;
left: 32.5%;

}

.line4{
display: flex;
border-left: 3px solid rgb(255, 255, 255);
height: 3px;
left: 0;
right: 0;
margin: auto;
width: 350px;
position: absolute;
background-color: aliceblue ;
}
.partners1{
display: flex;
flex-direction: row;
left: 0;
right: 10%;
width: 100px;
display: none;
}
.partners1 img{
width: 200px;
height: 80px;
margin-left: 15px;
margin-right: 15px;
}
.partners2{
display: flex;
flex-direction: row;
justify-content: center;
}
.box{ 
width: auto;
height: 320px;
}
}


